# Coisas dos editores e IDEs
.ipynb_checkpoints/
.vscode/

# Tipos de arquivo
*.txt
*.csv
*.zip

# Exceções
!rouge.properties
!final_dataset.zip
!*results*

# Pastas ou arquivos muito grandes, devem ser baixados
# separadamente ou gerados de alguma forma
pretrained_model/

# Pastas que contém muitos arquivos, que podem ser gerados
data/text_input/
data/bin_input/
rouge_evaluation/*/reference/
rouge_evaluation/*/system/