# Coisas dos editores e IDEs
.ipynb_checkpoints/
.vscode/

# Zips de arquivos que precisou baixar e esqueceu de apagar
*.zip
# Exceções:
# dataset pré-processado
!data/final_dataset.zip
# resumos gerados
!rouge_evaluation/*/generated_summaries.zip

# Arquivos muito grandes, ou pastas com muitos arquivos.
# Normalmente tem o link para download ou eles podem ser
# gerados facilmente
data/*.csv
data/text_input/*.txt
rouge_evaluation/*/reference/*.txt
rouge_evaluation/*/system/*.txt

# Código de outros repositórios, não podemos colocar como se fosse nosso
summarization/pgn/make_datafiles_for_pgn/*
summarization/pgn/pointer-generator/*
summarization/pgn/pretrained_model/*
!.keep